@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Roboto", sans-serif;
  --color-dark-bg: #0a0a0a;
  --color-card-bg: #303030;
  --color-border-dark: #303030;
  --color-text-secondary: #ababab;
  --color-dark-gray: #303030;
}
